

export(Estimate)
export(Simulate)
export(alphaq)
export(arg.names)
export(compare.arg.names)
export(computeCIs)
export(getAR)
export(getARCH)
export(getARMA)
export(getARMA_GARCH)
export(getEGARCH)
export(getGARCH)
export(getMA)
export(getNoise)
export(qpBoot)
export(setEstimate)
export(setParameter)
export(setSimulate)
exportClasses(QPBoot)
exportClasses(tsModel)
exportMethods(Estimate)
exportMethods(Simulate)
exportMethods(plot)
exportMethods(setEstimate)
exportMethods(setParameter)
exportMethods(setSimulate)
import(graphics)
import(quantspec)
import(rugarch)
import(stats4)
import(utils)
import(stats)
import(methods)
importFrom(abind,abind)
importFrom(methods,setMethod)
